{% extends "base.html" %}
{% load static %}
{% block title %}
  Лента записей
{% endblock %}
{% block content %}
  <h1>Лента записей</h1>                        
  {% for post in posts %}
    <hr>
    <article>
      <ul>
        <li>
          Место: {{ post.location }}              
        </li>
        <li>
          Дата: {{ post.date }}
        </li>
        <li>
          Категория: <a href="{% url 'blog:category_posts' post.category %}">{{ post.category }}</a>
        </li>
      </ul>          
      <!-- В задании указано: Первые 10 слов post.text. Так же в index есть ссылка на 26 линии поэтому
      не стал включать include, в целом у меня стоит выбор делать include article под index или под detil
      т.к. замечание указано в detail сделал выбор в его сторону,в целом суть понятна, если требуеться могу сделать 
      несколько шаблонов include -->
      <p>
        {{ post.text|truncatewords:10 }}
      </p>
      <a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>
    </article>
    <hr>
  {% endfor %}
{% endblock %}
